/ref/*
*.bit
*.bin
*.hex
*.lst
*.fsdb
*.key
*.log
*.o
*.dasm
*.o.d
*.dump
*.elf
*.map

#sim
sim/*/*.rc
sim/*/*.conf
sim/*/verdiLog
sim/*/*.verilog
sim/*/simv
sim/*/csrc
sim/*/simv.daidir
sim/*/filelist.f